{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container mt-4">
        <h3>Server Configuration</h3>
        <form method="post" class="card p-4 shadow-sm">
            {% csrf_token %}
            <div class="row" style="display: flex; gap: 5px;">
                <p class="text-muted">
                    Edit the <code>allowlist.json</code> file from here.
                </p>
                <textarea name="allowlist_data"
                          rows="10"
                          style="width: 100%;
                                 font-family: monospace">{{ allowlist }}</textarea>
                <p class="text-muted" style="margin-top: 20px;">
                    Edit the <code>permissions.json</code> file from here.
                </p>
                <textarea name="permissions_data"
                          rows="10"
                          style="width: 100%;
                                 font-family: monospace">{{ permissions }}</textarea>
            </div>
            <div class="mt-4 border-top pt-3">
                <button type="submit" class="btn btn-success">Save Changes</button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
        <div class="alert alert-warning mt-3">
            <strong>Note:</strong> Restart server after saving changes.
        </div>
    </div>
{% endblock %}
